@model CanamRegister.Models.CreditAccountFormRequestModel
@{
    Layout = null;
    ViewBag.Title = "Credit Account Form";
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Credit Account Form</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/startmin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <style>
        .header {
            background: #f8f9fa;
            padding: 15px 0;
            border-bottom: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: center; /* Center the logo horizontally */
            max-width: 960px;
            margin: 0 auto; /* Center the header container */
        }

            .header img {
                max-height: 75px; /* Adjust the height of the logo as needed */
            }

        .container {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            padding: 15px;
            max-width: 960px;
        }

        .form-check {
            margin-bottom: 1rem;
        }

        .form-check-input {
            margin-top: 0.3rem;
        }

        .form-check-label {
            display: inline;
            margin-left: 0.5rem;
            line-height: 1.5;
        }

        .panel-heading {
            background-color: #f5f5f5;
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }

        .panel-body {
            padding: 15px;
        }

        .d-flex {
            display: flex;
            align-items: center;
        }

        .mr-2 {
            margin-right: 0.5rem;
        }

        .disabled-field {
            background-color: #e9ecef; /* Light grey background for disabled fields */
        }

        .uppercase {
            text-transform: uppercase;
        }

        .toggle-password {
            position: absolute;
            right: 25px;
            top: 58%; /* Center vertically */
            transform: translateY(-50%); /* Adjust position to be perfectly centered */
            cursor: pointer;
            color: black; /* Change color to black */
            font-size: 1.25em; /* Increase size of the icon */
        }

    </style>



</head>

<body>
    <!-- Header with Logo -->
    <div class="header">
        <img src="~/images/logo.webp" alt="Company Logo" />
    </div>
    <div class="container" id="wrapper">
        @if (!string.IsNullOrEmpty(successMessage))
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @successMessage
            </div>
        }

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @errorMessage
            </div>
        }
        @using (Html.BeginForm("SaveCustomer", "Register", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- Request a Credit Account -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong style="font-size:large">Request a Credit Account</strong>
                        </div>
                        <div class="panel-body">
                            <p><strong>To obtain this privileged access, you must:</strong></p>
                            <ul>
                                <li>Fill out a credit application.</li>
                                <li>Be a company working within the industry, for example a kitchen manufacturer or dealer.</li>
                            </ul>
                            <p>Please take note that Canam Distributors Inc has a dedicated site for architects and designers with a different access, and that all general public can purchase our products at various retailers and specialized companies.</p>
                            <ul><li><strong>Mandatory fields</strong></li></ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Business Info Section -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong style="font-size:large">Business Info</strong>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="legalName">*Legal Name of Business</label>
                                            <input type="text" asp-for="LegalName" id="legalName" class="form-control" placeholder="e.g. Summer Collection" maxlength="100" autofocus required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="tradeName">*Trade Name</label>
                                            <input type="text" asp-for="TradeName" id="tradeName" class="form-control" placeholder="e.g. Summer Collection" maxlength="100" autofocus required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="businessType">*Business Type</label>
                                            <input type="text" asp-for="BusinessType" id="businessType" class="form-control" placeholder="e.g. Retail" maxlength="100" autofocus required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="phoneNumber">*Phone Number</label>
                                            <input type="tel" asp-for="PhoneNumber" id="phoneNumber" class="form-control numeric-input" placeholder="e.g. (222)-333-4444" maxlength="10" autofocus required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="taxID"><strong>*Federal Tax ID</strong></label>
                                            <input type="text" asp-for="TaxID" id="TaxID" class="form-control" placeholder="123456789-RT0001" maxlength="16" title="Your Tax-Id number must be in the format 123456789-RT0001 and exactly 15 characters long." required autocomplete="off" oninput="toUpperCase(this)" />
                                            <div id="taxIdError" class="text-danger" style="display: none;"></div>
                                        </div>
                                        <p><strong>Your Tax-Id number must be in the format 123456789-RT0001 and exactly 15 characters long and should be in this format: <span style="color: #0fc6f1;">123456789</span><span style="color: red;">-RT0001</span>.</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input type="checkbox" asp-for="IsRegisteredBusiness" id="registeredBusiness" class="form-check-input" />
                                                <label for="registeredBusiness" class="form-check-label">Check this box if your business is registered</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sales Tax Exemption Section -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong style="font-size:large">Sales Tax Exemption</strong>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-group">
                                    <p><strong>The applicant certifies that the goods ordered will be resold as taxable goods and declares having the following valid exemption tax certificate number:</strong></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="pstNumber"><strong>PST Number</strong></label>
                                            <input type="text" asp-for="PSTNumber" id="PSTNumber" class="form-control" placeholder="PST-1234567" maxlength="11" title="Your PST number must be in the format PST-1234567 and exactly 11 characters long." autocomplete="off" oninput="toUpperCase(this)" />
                                            <div id="pstNumberError" class="text-danger" style="display: none;"></div>
                                        </div>
                                        <p><strong>Your PST number is 11 characters long and should be in this format: <span style="color: #0fc6f1;">PST</span><span style="color: red;">-1234567</span>.</strong></p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Billing Address Section -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong style="font-size:large">Billing Address</strong>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="address">*Address</label>
                                            <input type="text" asp-for="BillingAddress" id="BillingAddress" class="form-control" maxlength="100" placeholder="123 Main St" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="address2">Address 2</label>
                                            <input type="text" asp-for="BillingAddress2" id="BillingAddress2" class="form-control" maxlength="100" placeholder="Apt 4B" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="city">*City</label>
                                            <input type="text" asp-for="BillingCity" id="BillingCity" class="form-control" maxlength="30" placeholder="Surrey" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="state">*State</label>
                                            <input type="text" asp-for="BillingState" id="BillingState" class="form-control" maxlength="30" placeholder="Province" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="shippingCountry">*Country</label>
                                            <input type="text" asp-for="BillingCountry" id="BillingCountry" class="form-control" maxlength="50" placeholder="Canada" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="zip">*Postal Code</label>
                                            <input type="text" asp-for="BillingZip" id="BillingZip" class="form-control" maxlength="7" placeholder="V3W-8J9" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="align-items-center">
                                <input type="checkbox" id="copyBillingAddress" class="mr-2" />
                                <label for="copyBillingAddress" class="mb-0">
                                    <strong style="font-size:large"> Shipping Address</strong>
                                    <small class="text-muted"> (Check this box to copy the billing address)</small>
                                </label>
                            </div>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <!-- First Row with Address, Address2, and City -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="shippingAddress">*Address</label>
                                            <input type="text" asp-for="ShippingAddress" id="ShippingAddress" class="form-control" maxlength="100" placeholder="123 Main St" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="shippingAddress2">Address 2</label>
                                            <input type="text" asp-for="ShippingAddress2" id="ShippingAddress2" class="form-control" maxlength="100" placeholder="Apt 4B" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="shippingCity">*City</label>
                                            <input type="text" asp-for="ShippingCity" id="ShippingCity" class="form-control" maxlength="30" placeholder="Surrey" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Second Row with State, Country, and Zipcode -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="shippingState">*State</label>
                                            <input type="text" asp-for="ShippingState" id="ShippingState" class="form-control" maxlength="30" placeholder="Province" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="shippingCountry">*Country</label>
                                            <input type="text" asp-for="ShippingCountry" id="ShippingCountry" class="form-control" maxlength="50" placeholder="Canada" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="shippingZipcode">*Postal Code</label>
                                            <input type="text" asp-for="ShippingZipcode" id="ShippingZipcode" class="form-control" maxlength="7" placeholder="V3W-8J9" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong style="font-size:large">Business Bank Information</strong>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <!-- First Row with Bank Name, Contact Name, Address, Phone Number -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="bankName">*Bank Name</label>
                                            <input type="text" asp-for="BankName" id="bankName" class="form-control" placeholder="e.g. Bank of America" maxlength="50" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="contactName">*Contact Name</label>
                                            <input type="text" asp-for="BankContactName" id="contactName" class="form-control" placeholder="e.g. John Doe" maxlength="50" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="address">*Address</label>
                                            <input type="text" asp-for="BankAddress" id="address" class="form-control" placeholder="e.g. 123 Bank St" maxlength="100" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="phoneNumber">*Phone Number</label>
                                            <input type="text" asp-for="BankPhoneNumber" id="phoneNumber" class="form-control numeric-input" placeholder="e.g. (222)-333-4444" maxlength="10" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Second Row with Transit No., Inst No., Account No. -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="transitNo">*Transit No.</label>
                                            <input type="text" asp-for="TransitNo" id="transitNo" class="form-control" placeholder="Transit No." maxlength="5" required autocomplete="off" oninput="allowOnlyNumbers(this)" />
                                            <small class="form-text text-muted">Your Transit No. should be 5 digits long.</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="instNo">*Inst No.</label>
                                            <input type="text" asp-for="InstNo" id="instNo" class="form-control" placeholder="Inst No." maxlength="3" required autocomplete="off" oninput="allowOnlyNumbers(this)" />
                                            <small class="form-text text-muted">Your Inst No. should be 3 digits long.</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="accountNo">*Account No.</label>
                                            <input type="text" asp-for="AccountNo" id="accountNo" class="form-control" placeholder="Account No." maxlength="7" required autocomplete="off" oninput="allowOnlyNumbers(this)" />
                                            <small class="form-text text-muted">Your Account No. should be 7 digits long.</small>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong style="font-size:large">Credit Card Information</strong>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="firstName">*First Name</label>
                                            <input type="text" asp-for="CCFirstName" id="CCFirstName" class="form-control" maxlength="50" placeholder="e.g. John" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="lastName">*Last Name</label>
                                            <input type="text" asp-for="CCLastName" id="CCLastName" class="form-control" maxlength="50" placeholder="e.g. Doe" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="CCNumber">*Credit Card Number</label>
                                            <input type="text" asp-for="CCNumber" id="CCNumber" class="form-control" maxlength="19" placeholder="XXXX-XXXX-XXXX-XXXX" required autocomplete="off" />
                                            <div id="ccNumberError" class="text-danger" style="display: none;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="CCExpiryMonth">*Expiry Month</label>
                                            <select asp-for="CCExpiryMonth" id="CCExpiryMonth" class="form-control" required>
                                                <option value="">Select Month</option>
                                                @for (var month = 1; month <= 12; month++)
                                                {
                                                    <option value="@month.ToString("D2")">@month.ToString("D2")</option>
                                                }
                                            </select>
                                            <div id="expiryMonthError" class="text-danger" style="display: none;"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="CCExpiryYear">*Expiry Year</label>
                                            <select asp-for="CCExpiryYear" id="CCExpiryYear" class="form-control" required>
                                                <option value="">Select Year</option>
                                                @for (var year = DateTime.Now.Year; year <= DateTime.Now.Year + 10; year++)
                                                {
                                                    <option value="@year">@year</option>
                                                }
                                            </select>
                                            <div id="expiryYearError" class="text-danger" style="display: none;"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="CVV">*CVV</label>
                                            <input type="text" asp-for="CVV" id="CVV" class="form-control" placeholder="***" maxlength="3" required autocomplete="off" oninput="allowOnlyNumbers(this)" />
                                            <div id="cvvError" class="text-danger" style="display: none;"></div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong style="font-size:large">Major Suppliers</strong>
                        </div>
                        <div class="panel-body">
                            <fieldset id="supplierSection">
                                <!-- Supplier Entry 1 -->
                                <div class="supplier-entry static-entry">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="supplierName1">*Supplier Name 1</label>
                                                <input type="text" asp-for="SupplierName1" id="supplierName1" class="form-control" maxlength="100" placeholder="e.g. Supplier Co." required autocomplete="off" oninput="toUpperCase(this)" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="supplierCity1">*City</label>
                                                <input type="text" asp-for="SupplierCity1" id="supplierCity1" class="form-control" maxlength="100" placeholder="e.g. New York" required autocomplete="off" oninput="toUpperCase(this)" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="supplierPhone1">*Phone Number</label>
                                                <input type="text" asp-for="SupplierPhone1" id="supplierPhone1" class="form-control numeric-input" maxlength="10" placeholder="e.g. (222)-333-4444" required autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Supplier Entry 2 -->
                                <div class="supplier-entry static-entry">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="supplierName2">*Supplier Name 2</label>
                                                <input type="text" asp-for="SupplierName2" id="supplierName2" class="form-control" maxlength="100" placeholder="e.g. Supplier Co." autocomplete="off" oninput="toUpperCase(this)" required />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="supplierCity2">*City</label>
                                                <input type="text" asp-for="SupplierCity2" id="supplierCity2" class="form-control" maxlength="100" placeholder="e.g. New York" autocomplete="off" oninput="toUpperCase(this)" required />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="supplierPhone2">*Phone Number</label>
                                                <input type="text" asp-for="SupplierPhone2" id="supplierPhone2" class="form-control numeric-input" maxlength="10" placeholder="e.g. (222)-333-4444" autocomplete="off" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Supplier Entry 3 -->
                                <div class="supplier-entry static-entry">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="supplierName3">Supplier Name 3</label>
                                                <input type="text" asp-for="SupplierName3" id="supplierName3" class="form-control" maxlength="100" placeholder="e.g. Supplier Co." autocomplete="off" oninput="toUpperCase(this)" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="supplierCity3">City</label>
                                                <input type="text" asp-for="SupplierCity3" id="supplierCity3" class="form-control" maxlength="100" placeholder="e.g. New York" autocomplete="off" oninput="toUpperCase(this)" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="supplierPhone3">Phone Number</label>
                                                <input type="text" asp-for="SupplierPhone3" id="supplierPhone3" class="form-control numeric-input" maxlength="10" placeholder="e.g. (222)-333-4444" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong style="font-size:large">Contact Information</strong>
                            <div class="form-check" style="margin-top: 10px;">
                                <input type="checkbox" asp-for="IsContactAuthorized" id="authorizationCheckbox" class="form-check-input" required />
                                <label for="authorizationCheckbox" class="form-check-label">
                                    I am an authorized offer and I have the authorization to submit account information on our company’s behalf and apply for credit.
                                </label>
                            </div>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="firstName">*First Name</label>
                                            <input type="text" asp-for="FirstName" id="firstName" class="form-control" maxlength="50" placeholder="e.g. John" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="lastName">*Last Name</label>
                                            <input type="text" asp-for="LastName" id="lastName" class="form-control" maxlength="50" placeholder="e.g. Doe" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="title">*Title</label>
                                            <input type="text" asp-for="Title" id="title" class="form-control" maxlength="50" placeholder="e.g. Manager" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="mobilePhone">*Mobile Phone</label>
                                            <input type="text" asp-for="MobilePhone" id="mobilePhone" class="form-control numeric-input" maxlength="10" placeholder="e.g. (222)-333-4444" required autocomplete="off"  />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="emailAddress">*Email Address</label>
                                            <input type="email" asp-for="EmailAddress" id="emailAddress" class="form-control" pattern="([a-z0-9-]{1,63}\.)+" maxlength="50" placeholder="e.g. john.doe@example.com" required autocomplete="off" oninput="toUpperCase(this)" />
                                            <span id="emailError" class="text-danger" style="display:none;"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="fax">Fax</label>
                                            <input type="text" asp-for="Fax" id="fax" class="form-control numeric-input" placeholder="e.g. (222)-333-4444" maxlength="10" required autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong style="font-size:large">2-Factor Authentication</strong>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row">
                                    <!-- Checkbox Column with Text Below -->
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            <input type="checkbox" asp-for="IsTwoFactorAuthEnabled" id="twoFactorAuth" class="form-check-input" required />
                                            <label for="twoFactorAuth" class="form-check-label d-block">
                                                2-Factor Authentication
                                            </label>
                                            <p class="mt-2">For increased security of your access, we strongly recommend activating this service.</p>
                                        </div>
                                    </div>
                                    <!-- Mobile Number Input Column -->
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="mobileNumber">Mobile Number (format:(222)-333-4444)</label>
                                            <input type="text" asp-for="MobileNumber" id="mobileNumber" class="form-control numeric-input" maxlength="10" placeholder="e.g. (222)-333-4444" title="Please enter the mobile number in the format: (222) 333-4444" required autocomplete="off" oninput="toUpperCase(this)" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong style="font-size:large">Account Statements and Invoices</strong>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-check">
                                    <input type="checkbox" asp-for="IsAuthorizedToViewInvoices" id="authorizationCheckbox" class="form-check-input" />
                                    <label for="authorizationCheckbox" class="form-check-label">
                                        I am authorized to view invoices and accounts payable for my company (subject to validation by my company's accounting department).
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong style="font-size:large">Account on www.canamdistributors.com</strong>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <!-- Password and Confirm Password Inputs in One Row -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label for="password">*Password</label>
                                            <input type="password" asp-for="Password" id="Password" class="form-control" maxlength="16" placeholder="Enter your password" required autocomplete="off" />
                                            <div id="passwordError" class="text-danger" style="display: none;"></div>
                                            <span class="toggle-password" toggle="#Password">
                                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label for="confirmPassword">*Confirm Password</label>
                                            <input type="password" asp-for="ConfirmPassword" id="ConfirmPassword" class="form-control" maxlength="16" placeholder="Confirm your password" required autocomplete="off" />
                                            <div id="confirmPasswordError" class="text-danger" style="display: none;"></div>
                                            <span class="toggle-password" toggle="#ConfirmPassword">
                                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>



                                <!-- Checkboxes -->
                                <div class="form-check">
                                    <input type="checkbox" asp-for="IsAuthorizedForPurchases" id="authorizationCheckbox" class="form-check-input" required />
                                    <label for="authorizationCheckbox" class="form-check-label">
                                        I have the authorization to make online purchases for the company.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" asp-for="AgreesToTerms" id="termsCheckbox" class="form-check-input" required />
                                    <label for="termsCheckbox" class="form-check-label">
                                        I agree with the Terms and Conditions of Use of www.canamdistributors.com
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" asp-for="ReceiveEmails" id="emailCheckbox1" class="form-check-input" required />
                                    <label for="emailCheckbox1" class="form-check-label">
                                        I would like to receive emails about online specials, new products, and website features
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" asp-for="Guarantee" id="guaranteeCheckbox" class="form-check-input" required />
                                    <label for="guaranteeCheckbox" class="form-check-label">
                                        In consideration of Canam and its subsidiaries extending credit hereunder, the undersigned, jointly, severally,
                                        and unconditionally, guarantees and promises to pay Canam on demand, any and all indebtedness of the
                                        above-named applicant to Canam. All payments are payable in any of our other locations. This is a continuing
                                        guarantee without expiration and the obligations created hereby are unaffected by any change in terms of the
                                        original indebtedness between Canam and the below named applicant save that of payment. A photocopy or
                                        fax copy shall be given the same effect as the original.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" asp-for="AuthorizationForVerification" id="authorizationCheckbox2" class="form-check-input" required />
                                    <label for="authorizationCheckbox2" class="form-check-label">
                                        I authorize Canam and its subsidiaries, to verify, validate and to inquire on my/our behalf with regards to this
                                        Credit Application and to make whatever credit inquiries it deems necessary in connection with my/our
                                        application for an open account and/or terms. I authorize and instruct any person of commercial and/or
                                        consumer-reporting agency to compile and furnish any information it may have or obtain in response to such
                                        credit inquiries. I also agree that this information will be reviewed periodically in order to maintain my/our credit
                                        privileges. Canam and its subsidiaries may at any time at its own discretion maintain or cancel credit
                                        privileges without notice.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" asp-for="AccuracyConfirmation" id="accuracyCheckbox" class="form-check-input" required />
                                    <label for="accuracyCheckbox" class="form-check-label">
                                        I confirm that I have read all the provisions of this account opening and credit application, including the general
                                        conditions of sale of Canam Distributors Inc and the terms of the security and privacy policy of Canam
                                        Distributors Inc, and certify that all information hereby submitted are accurate.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" asp-for="TermsAcknowledgement" id="termsCheckbox2" class="form-check-input" required />
                                    <label for="termsCheckbox2" class="form-check-label">
                                        I, the undersigned, acknowledge and have read the contents of this document and I agree with the stipulated
                                        Terms and Conditions.
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/js/startmin.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        $(document).ready(function () {
            // Toggle password visibility
            $('.toggle-password').on('click', function () {
                const input = $($(this).attr('toggle'));
                const type = input.attr('type') === 'password' ? 'text' : 'password';
                input.attr('type', type);
                $(this).find('i').toggleClass('fa-eye fa-eye-slash');
            });

            // Function to copy billing address to shipping address
            function copyBillingAddress() {
                var copyCheckbox = $('#copyBillingAddress');
                if (copyCheckbox.is(':checked')) {
                    $('#ShippingAddress').val($('#BillingAddress').val());
                    $('#ShippingAddress2').val($('#BillingAddress2').val());
                    $('#ShippingCity').val($('#BillingCity').val());
                    $('#ShippingState').val($('#BillingState').val());
                    $('#ShippingCountry').val($('#BillingCountry').val());
                    $('#ShippingZipcode').val($('#BillingZip').val());
                } else {
                    $('#ShippingAddress, #ShippingAddress2, #ShippingCity, #ShippingState, #ShippingCountry, #ShippingZipcode').val('');
                }
            }

            // Attach event listener to checkbox
            $('#copyBillingAddress').change(copyBillingAddress);

            // Function to toggle fields based on checkbox
            function toggleFields(checkboxId, fieldIds) {
                var checkbox = $('#' + checkboxId);
                fieldIds.forEach(function (fieldId) {
                    var field = $('#' + fieldId);
                    field.prop('disabled', !checkbox.is(':checked'));
                    field.toggleClass('disabled-field', field.prop('disabled'));
                });
            }

            // Initialize fields based on checkbox states
            toggleFields('authorizationCheckbox', ['firstName', 'lastName', 'title', 'mobilePhone', 'emailAddress', 'fax']);
            toggleFields('twoFactorAuth', ['mobileNumber']);

            // Attach event listeners to checkboxes
            $('#authorizationCheckbox').change(function () {
                toggleFields('authorizationCheckbox', ['firstName', 'lastName', 'title', 'mobilePhone', 'emailAddress', 'fax']);
            });

            $('#twoFactorAuth').change(function () {
                toggleFields('twoFactorAuth', ['mobileNumber']);
            });

            // Phone number validation
            function validatePhoneNumberInput(selector) {
                $(selector).on('focusout', function () {
                    let value = $(this).val();
                    const numericValue = value.replace(/\D/g, '');

                    if (numericValue.length === 10) {
                        const formattedValue = `(${numericValue.slice(0, 3)})-${numericValue.slice(3, 6)}-${numericValue.slice(6)}`;
                        $(this).val(formattedValue);
                    } else {
                        toastr.error('Please enter a valid phone number in the format (222)-333-4444.');
                        $(this).val('');
                    }
                });
            }
            validatePhoneNumberInput('.numeric-input');

            // Validation functions
            function validatePassword() {
                const password = $('#Password').val() || '';
                let passwordError = '';
                if (password.length < 8 || password.length > 16) {
                    passwordError = 'Password must be between 8 and 16 characters.';
                } else if (!/(?=.*[a-zA-Z])(?=.*[0-9])/.test(password)) {
                    passwordError = 'Password must contain at least one letter and one number.';
                }
                $('#passwordError').text(passwordError).toggle(!!passwordError);
                return !passwordError; // Return true if valid
            }

            function validateConfirmPassword() {
                const password = $('#Password').val() || '';
                const confirmPassword = $('#ConfirmPassword').val() || '';
                let confirmPasswordError = '';
                if (confirmPassword && confirmPassword !== password) {
                    confirmPasswordError = 'Passwords do not match.';
                }
                $('#confirmPasswordError').text(confirmPasswordError).toggle(!!confirmPasswordError);
                return !confirmPasswordError; // Return true if valid
            }

            function validatePSTNumber() {
                const pstNumber = $('#PSTNumber').val() || '';
                const pstPattern = /^PST-\d{7}$/;
                let pstNumberError = '';
                if (!pstPattern.test(pstNumber)) {
                    pstNumberError = 'PST Number must be in the format PST-1234567 and exactly 11 characters long.';
                }
                $('#pstNumberError').text(pstNumberError).toggle(!!pstNumberError);
                return !pstNumberError; // Return true if valid
            }

            function validateTaxID() {
                const taxID = $('#TaxID').val() || '';
                const taxIdPattern = /^\d{9}-RT\d{4}$/;
                let taxIdError = '';
                if (!taxIdPattern.test(taxID)) {
                    taxIdError = 'Federal Tax ID must be in the format 123456789-RT0001 and exactly 15 characters long.';
                }
                $('#taxIdError').text(taxIdError).toggle(!!taxIdError);
                return !taxIdError; // Return true if valid
            }

            function formatAndValidateCCNumber() {
                const input = $('#CCNumber');
                let value = input.val().replace(/\D/g, ''); // Remove non-digit characters

                // Format the value with dashes
                let formattedValue = '';
                for (let i = 0; i < value.length; i++) {
                    if (i > 0 && i % 4 === 0) {
                        formattedValue += '-';
                    }
                    formattedValue += value[i];
                }

                input.val(formattedValue); // Set formatted value
                validateCreditCardNumber(formattedValue);
            }

            function validateCreditCardNumber(ccNumber) {
                const ccNumberWithoutDashes = ccNumber.replace(/-/g, ''); // Remove dashes
                let ccNumberError = '';

                if (!/^\d{16}$/.test(ccNumberWithoutDashes)) {
                    ccNumberError = 'Credit Card Number must be 16 digits long and numeric.';
                }

                $('#ccNumberError').text(ccNumberError).toggle(!!ccNumberError);
                return !ccNumberError; // Return true if valid
            }

            function validateExpiryMonth() {
                const expiryMonth = $('#CCExpiryMonth').val();
                let expiryMonthError = '';
                if (!expiryMonth) {
                    expiryMonthError = 'Expiry Month is required.';
                }
                $('#expiryMonthError').text(expiryMonthError).toggle(!!expiryMonthError);
                return !expiryMonthError; // Return true if valid
            }

            function validateExpiryYear() {
                const expiryYear = $('#CCExpiryYear').val();
                let expiryYearError = '';
                if (!expiryYear) {
                    expiryYearError = 'Expiry Year is required.';
                }
                $('#expiryYearError').text(expiryYearError).toggle(!!expiryYearError);
                return !expiryYearError; // Return true if valid
            }

            function validateCVV() {
                const cvv = $('#CVV').val();
                let cvvError = '';
                if (!/^\d{3}$/.test(cvv)) {
                    cvvError = 'CVV must be 3 digits long and numeric.';
                }
                $('#cvvError').text(cvvError).toggle(!!cvvError);
                return !cvvError; // Return true if valid
            }

            // Real-time validation
            $('#Password').on('keyup input', validatePassword);
            $('#ConfirmPassword').on('keyup input', validateConfirmPassword);
            $('#PSTNumber').on('keyup input', validatePSTNumber);
            $('#TaxID').on('keyup input', validateTaxID);
            $('#CCNumber').on('keyup input', formatAndValidateCCNumber);
            $('#CCExpiryMonth').on('change', validateExpiryMonth);
            $('#CCExpiryYear').on('change', validateExpiryYear);
            $('#CVV').on('keyup input', validateCVV);

            // Prevent form submission if any validation fails
            $('form').on('submit', function (e) {
                const isValid = validatePassword() && validateConfirmPassword() &&
                    validatePSTNumber() && validateTaxID() &&
                    validateCreditCardNumber() && validateExpiryMonth() &&
                    validateExpiryYear() && validateCVV();

                if (!isValid) {
                    e.preventDefault(); // Prevent form submission
                    toastr.error('Please fix the errors before submitting.'); // Optional: Show an error message
                }
            });
        });

        function toUpperCase(input) {
            input.value = input.value.toUpperCase();
        }

        function allowOnlyNumbers(input) {
            // Replace non-digit characters with an empty string
            input.value = input.value.replace(/\D/g, '');

            // Optional: Display an error message if the input is empty
            const inputError = document.getElementById('inputError');
            if (input.value === '') {
                toastr.error('This field must contain numeric values only.');
                $(this).val('');
            } else {
                inputError.style.display = 'none';
            }
        }
    </script>


</body>

</html>
